@model HomeLibraryApp.Models.book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author.FirstName) @Html.DisplayFor(model => model.author.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Year Released
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearReleased)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Book_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
