@model HomeLibraryApp.Models.booksRead

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Read Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book.author.AuthorFullName) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book.Title)
        </dd>
        <dt>
            Date book read
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRead)
        </dd>
        <dt>
            Reader name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reader.ReaderFullName)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BooksRead_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
