@model HomeLibraryApp.Models.reader

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.ReaderFullName) </h2>

<div>
    <h4>The table below shows the books that have been read by @Html.DisplayFor(model => model.FirstName)</h4>
    <hr />
</div>
<div>
    <table class="table">
        <tr>
            <th>
                Author
            </th>
            <th>
                Title
            </th>
            <th>
                Date Read
            </th>
        </tr>


        @foreach (var item in Model.booksReads.OrderBy(a => a.book.author.LastName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.book.author.AuthorFullName) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRead)
                </td>
            </tr>
        }
    </table>
</div>

