@model IEnumerable<HomeLibraryApp.Models.reader>

@{
    ViewBag.Title = "Index";
}

<h2>Readers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReaderFullName) 
        </td>

        <td>
            <button type="button" class="btn btn-light">@Html.ActionLink("View Read Books", "Details", new { id = item.Reader_id })</button>
            @Html.ActionLink("Edit", "Edit", new { id = item.Reader_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Reader_id })
        </td>
        
    </tr>
}

</table>
